In [11]:
import pandas as pd
import numpy as np

In [14]:
results = pd.read_csv("data/results.csv")

In [15]:
results

,athlete,year,season,sport,discipline,pos,medal,country,country_code,team
0,1014,2020,Summer,Table Tennis,"Singles, Women",65.0,NaN,Nigeria,NGR,NaN
1,2069,2020,Summer,Archery,"Team, Mixed",24.0,NaN,Poland,POL,Sylwia Zyzańska
2,2069,2020,Summer,Archery,"Individual, Men",33.0,NaN,Poland,POL,NaN
3,11260,2020,Summer,Equestrian Jumping,"Individual, Open",5.0,NaN,Sweden,SWE,NaN
4,11260,2020,Summer,Equestrian Jumping,"Team, Open",1.0,Gold,Sweden,SWE,Sweden
...,...,...,...,...,...,...,...,...,...,...
291705,80232,1896,Summer,Shooting,"Free Rifle, Three Positions, 300 metres, Men",NaN,NaN,Greece,GRE,NaN
291706,80232,1896,Summer,Shooting,"Military Rifle, 200 metres, Men",11.0,NaN,Greece,GRE,NaN
291707,80233,1896,Summer,Shooting,"Military Rifle, 200 metres, Men",NaN,NaN,Great Britain,GBR,NaN
291708,80234,1896,Summer,Shooting,"Military Rifle, 200 metres, Men",NaN,NaN,Greece,GRE,NaN
291709,102578,1896,Summer,Shooting,"Free Rifle, Three Positions, 300 metres, Men",NaN,NaN,Greece,GRE,NaN

In [18]:
athletes = pd.read_csv(filepath_or_buffer="data/athletes.txt", sep=";")

In [19]:
merged = pd.merge(left = athletes, right = results, how="inner")

In [20]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291710 entries, 0 to 291709
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete       291710 non-null  float64
 1   name          291710 non-null  object
 2   sex           291710 non-null  object
 3   born          289087 non-null  object
 4   died          61922 non-null   object
 5   affiliations  198770 non-null  object
 6   title         834 non-null     object
 7   measurements  228351 non-null  object
 8   year          291710 non-null  int64
 9   season        291710 non-null  object
 10  sport         291710 non-null  object
 11  discipline    291710 non-null  object
 12  pos           222296 non-null  float64
 13  medal         41913 non-null   object
 14  country       291710 non-null  object
 15  country_code  291710 non-null  object
 16  team          114693 non-null  object
dtypes: float64(2), int64(1), object(14)
memory usage: 37.8+ MB

In [21]:
merged.head()

,athlete,name,sex,born,died,affiliations,title,measurements,year,season,sport,discipline,pos,medal,country,country_code,team
0,1.0,Jean-François•Blanchy,Male,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",NaN,NaN,NaN,1920,Summer,Tennis,"Singles, Men",32.0,NaN,France,FRA,NaN
1,1.0,Jean-François•Blanchy,Male,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",NaN,NaN,NaN,1920,Summer,Tennis,"Doubles, Mixed",8.0,NaN,France,FRA,Jeanne Vaussard
2,1.0,Jean-François•Blanchy,Male,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",NaN,NaN,NaN,1920,Summer,Tennis,"Doubles, Men",4.0,NaN,France,FRA,Jacques Brugnon
3,1.0,Jean-François•Blanchy,Male,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",NaN,NaN,NaN,1912,Summer,Tennis,"Singles, Men",17.0,NaN,France,FRA,NaN
4,1.0,Jean-François•Blanchy,Male,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",NaN,NaN,NaN,1912,Summer,Tennis,"Doubles, Men",NaN,NaN,France,FRA,Jean Montariol